<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="com.eightlabs.BulkImageToPdf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <com.eightlabs.BulkImageToPdf.Properties.Settings>
            <setting name="PaperType" serializeAs="String">
                <value>Letter</value>
            </setting>
            <setting name="Rotation" serializeAs="String">
                <value>Portrait</value>
            </setting>
            <setting name="ConvertToMonochrome" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Author" serializeAs="String">
                <value>8labs</value>
            </setting>
            <setting name="Title" serializeAs="String">
                <value>Converted document</value>
            </setting>
            <setting name="Subject" serializeAs="String">
                <value>http://www.8labs.com</value>
            </setting>
            <setting name="Keywords" serializeAs="String">
                <value>Image to PDF Conversion</value>
            </setting>
            <setting name="RetainFolderStructure" serializeAs="String">
                <value>True</value>
            </setting>
        </com.eightlabs.BulkImageToPdf.Properties.Settings>
    </userSettings>
</configuration>